<!DOCTYPE html>
<html lang="ru">
<head>
    <meta charset="UTF-8">

    <title>Административная Панель</title>
    <link rel="stylesheet" href="/static/style_admin.css">
</head>
<body>
<div class="container">

    <h1>Административная панель</h1>
    <div class="table-container">
        <h2>Пользователи</h2>
        <table>
            <tr>
                <th>Логин</th>
                <th>Пароль</th>
            </tr>
            {% for user in users %}
            <tr>
                <td>{{ user['username'] }}</td>
                <td>{{ user['password'] }}</td>
            </tr>
            {% endfor %}
        </table>
    </div>

    <div class="table-container">
        <h2>Фотоотчеты</h2>
        <table>
            <tr>
                <th>Пользователь</th>
                <th>Фотоизображение</th>
                <th>Комментарий</th>
            </tr>
            {% for photo in photos %}
            <tr>
                <td>{{ photo.user }}</td>
                <td><img src="data:image/jpeg;base64,{{ photo.details.image_data }}" alt="Photo"></td>
                <td>{{ photo.details.comment }}</td>
            </tr>
            {% endfor %}

        </table>
    </div>
</div>
</body>
</html>
